---
const embedPosts = await Astro.glob("./posts/*.astro");

// Change the number of posts to display
const numDisplayPosts = 3;
---

<div id="instagram-posts" class="flex flex-col gap-y-4 max-w-xs">
  {embedPosts.slice(0, numDisplayPosts).map((post) => <post.default />)}
</div>
