---
import EventsList from "@components/home/events/events-list.astro";
import SocialMedia from "@components/home/social-media.astro";
import InstagramEmbed from "@components/home/instagram-embed.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
---

<HomeLayout title="Home">
  <div class="flex flex-col gap-y-24">
    <SocialMedia />
    <EventsList />
    <InstagramEmbed />
  </div>
</HomeLayout>
