---
import EventsList from "@components/home/events/events-list.astro";
import SocialMedia from "@components/home/social-media.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
---

<HomeLayout title="Home">
  <div id="quick-links"></div>
  <SocialMedia />
  <EventsList />
</HomeLayout>
