---
import { socialMedia } from "data/social-media";
---

<div class="flex flex-col gap-y-4">
  <h1 class="text-center text-lg font-medium">Connect with us!</h1>
  <div id="social-media" class="flex flex-row gap-x-8 justify-center">
    {
      socialMedia.map((media) => (
        <a href={media.url} class="text-3xl" target="_blank">
          <media.icon />
        </a>
      ))
    }
  </div>
</div>
