---
import OutlinePreview from "@components/courses/past-outlines/outline-preview";
import PageLayout from "@layouts/PageLayout.astro";
import { fetchOutlines } from "@utils/all";

// Categorize the PDFs by course level, season, and year
const categorizedPDFs = fetchOutlines();

// NOTE: PDF file names should be in the format of:
// COURSE_CODE-Term-Year.pdf
// Example: SFWRENG_2C03-fall-2024.pdf

const courses = [
  {
    name: "SFWRENG 2XC3",
    description:
      "Software Engineering Practice and Experience: Development Basics",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 3XB3",
    description: "Software Engineering Practice and Experience: Tools",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 2XC3",
    description:
      "Software Engineering Practice and Experience: Development Basics",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 3XB3",
    description: "Software Engineering Practice and Experience: Tools",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 2XC3",
    description:
      "Software Engineering Practice and Experience: Development Basics",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 3XB3",
    description: "Software Engineering Practice and Experience: Tools",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
  {
    name: "SFWRENG 4G06",
    description: "Software Engineering Practice and Experience: Capstone",
    term: "Fall 2023",
  },
];
---

<!-- {
  categorizedPDFs &&
    Object.keys(categorizedPDFs).map((level) => {
      return (
        <div>
          <h2>Level {level}</h2>
          {Object.keys(categorizedPDFs[level]).map((season) => {
            return (
              <div>
                <h3>{season.charAt(0).toUpperCase() + season.slice(1)}</h3>
                <ul>
                  {categorizedPDFs[level][season].map((pdf) => {
                    return (
                      <li>
                        <a
                          href={pdf.path}
                          target="_blank"
                          rel="noopener noreferrer">
                          {pdf.name}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </div>
            );
          })}
        </div>
      );
    })
} -->
<PageLayout title="Past Course Outlines">
  <div class="flex flex-row">
    <OutlinePreview courses={courses} client:visible />
  </div>
</PageLayout>
