---
import PageLayout from "@layouts/PageLayout.astro";
import { fetchPDFs } from "@utils/all";

// Import all PDFs in the course-outlines directory
const pdfs = import.meta.glob("../../../public/course-outlines/*.pdf");

// Categorize the PDFs by course level, season, and year
const categorizedPDFs = fetchPDFs(pdfs);

// NOTE: PDF file names should be in the format of:
// COURSE_CODE-Term-Year.pdf
// Example: SFWRENG_2C03-fall-2024.pdf
---

<!-- {
  categorizedPDFs &&
    Object.keys(categorizedPDFs).map((level) => {
      return (
        <div>
          <h2>Level {level}</h2>
          {Object.keys(categorizedPDFs[level]).map((season) => {
            return (
              <div>
                <h3>{season.charAt(0).toUpperCase() + season.slice(1)}</h3>
                <ul>
                  {categorizedPDFs[level][season].map((pdf) => {
                    return (
                      <li>
                        <a
                          href={pdf.path}
                          target="_blank"
                          rel="noopener noreferrer">
                          {pdf.name}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </div>
            );
          })}
        </div>
      );
    })
} -->
<PageLayout title="Past Course Outlines">
  <div class="flex flex-row">
    <div id="file-list" class="flex flex-col">
      <span>File #1</span>
      <span>File #2</span>
    </div>
  </div>
</PageLayout>
